{% extends "base.html" %}
{% block head %}
    <title>utwórz wydarzenie</title>

{{ super() }}
{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/creator_page_event/">wydarzenie</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/creator_page_artist/">artysta</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/creator_page_festival">festiwal</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="creator_page_spot">miejsce</a>
  </li>
</ul>

 <div class="row">
     <h4> Tutaj możesz utworzyć bądź edytować wydarzenie, artystę, festiwal, bądź miejsce. Powyżej na navbarze będą <br>
linki do formularzy</h4>

     <div class="col-8">
         <h4 class="form-header text-center">obwieszcz wydarzenie</h4>
         <form action ="" method="POST" name="myform">
             <div class="mb-3">
                 {{ form.csrt_token}}
                 <label  class="form-label">nazwa wydarzenia</label>
                 {{ form.event_name.label}}{{form.event_name()}}
             </div>
             <div class="mb-3">
                 <label class="form-label" >data</label>
                 {{ form.event_date.label}}{{form.event_date(class="datepicker")}}
             </div>
             <div class="mb-3">
                 <label class="form-label" >godzina</label>
                 {{ form.event_time.label}}{{ form.event_time(type="time") }}
             </div>
             <div class="mb-3">
                 <label class="form-label" >opis (nieobowiązkowy)</label>
                 {{ form.event_description.label}}{{form.event_description()}}
             </div>
             <div class="mb-3">
                 <label class="form-label" >link(obowiązkowy)</label>
                 {{ form.event_url.label}}{{form.event_url()}}
             </div>
             <div>
             {{ form.submit() }}
             </div>
         </form>
     </div>
 </div>



{% endblock %}
